{% extends 'base.html' %}
{% block content %}
    <div class="main__profile">
        <div class="profile__left">
            <div class="profile__avatar">
                <img src="../../static/images/empty.png" alt="">
            </div>
            <div class="profile__links">
                <a href="https://vk.com" class="profile__link">VK</a>
            </div>
        </div>
        <div class="profile__right">
            <form action="" method="post" class="profile__form">
                {{ form.hidden_tag() }}

                {% for line in form if line.name not in [ 'csrf_token'] %}
                    {{ line.label(class='form_label') }} 
                    {% if line.errors %}
                        {{ line(class='form_field_error' )}}
                        {% for e in line.errors %}
                            {{ e }}
                        {% endfor %}
                    {% else %}
                        {{ line( class= 'form_field') }}
                    {% endif %}
                {% endfor %}
                <input type="submit" class="form__submit" value="Подтвердить">
                {{ db }}
            </form>
        </div>
    </div>
    
{% endblock %}