{% extends 'base.html' %}
{% block content %}
    <div class="main">
        <div class='main__about'>Добро пожаловать на главную страницу будущего сайта.</div>
        <div>На данный момент зарегистрированно {{ count }} пользователей</div>
        <div class="main__title">Сейчас на сайте реализованно:</div>
        <ul>
            <li>Авторизация на сайте</li>
            <li>Шаблон персональной странички, на которой представленны логин и email</li>
        </ul>
        <div class="main__title">В разработке находятся:</div>
        <ul>
            <li>Разработка личного кабинета</li>
        </ul>
    </div>
    
{% endblock %}